// COLORS
$bg-color-primary: #2d8c2f;
$bg-color-secondary: #2d8c2f4d;
$bg-color-black: black;
$bg-color-white: #fff;

$text-color-primary: #333;
$text-color-secondary: #fff;

$border-color-primary: #ccc;
